@import "../func/func-const";
@import "array-length--";
@import "array-map--";
@import "array-slice--";
@import "array-splice--";

/// @group array
/// @access private
/// @see array-fill
@function array-fill--($array, $value, $start: 1, $end: null, $other...) {
  $next-array: to-list--($array);
  $values: array-slice--($array, $start, $end);
  $values-length: array-length--($values);

  @if ($values-length > 0) {
    $values: array-map--($values, (func-const, $value));

    $next-array: array-splice--($array, $start, $values-length, $values...);
  }

  @return $next-array;
}
