@import "str-indexes";

@function str-split--($string, $separator, $count: null) {
    $parts: ();
    $last-index: 1;
    $substring-length: max(str-length($separator), 1);
    $indexes: str-indexes($string, $separator, $count);

    @each $index in $indexes {
        $parts: append($parts, str-slice($string, $last-index, max($index - 1, $last-index)));
        $last-index: $index + $substring-length;
    }

    @if ($last-index <= str-length($string)) {
        $parts: append($parts, str-slice($string, $last-index));
    }

    @return $parts;
}