/// Exception should be caught
/// @group core
/// @access private
$--throw--catch: false !default;

/// Last thrown error
/// @group core
/// @access private
$--throw--last-error: null !default;

@function throw($error, $type: "Error") {
    $--throw--last-error: "#{ $type }: #{ $error }" !global;

    @if (not $--throw--catch) {
        @error $--throw--last-error;
    } @else {
        // @warn $--throw--last-error;
    }

    @return null;
}